* {
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
}

.header_top {
    background-color: #2c3941;
    display: block;
}

.columns_wrap {
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
}

.columns_wrap span {
    color:rgba(255,255,255,.4);
    position: absolute;
    top: 30px;
    display: block;
    margin: 10px 0px;
}

.contact_label {
    padding-left: 20px;
    margin: 10px 0px;
}

.contact_label > a {
    text-decoration: none;
    color: rgba(255,255,255,.4);
}

.contact_label > a:hover {
    color: #8bafb3;
}

#cart-popover:hover {
    color: #8bafb3;
    cursor: pointer;
}

.icon_right {
    padding: 0px 20px;
    margin: 15px 0px;
}

.contact_label_right {
    padding: 0px 40px;
    margin: 10px 0px;
}

/* header_bottom */
.header_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}

.nav_links {
    list-style-type: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    color: #1d2122;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
    text-decoration: none;
}

.dropdown:hover > .dropdown-menu{
    display: block;
    transition: all 0.3s ease 0s;
    background-color: #8bb4cd;
}

.dropdown:hover > .dropdown-menu > a {
    color: #fff;
}

.dropdown:hover > .dropdown-menu > a:hover {
    color: #8bb4cd;
}

