* {
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
}

.header_top {
    background-color: #2c3941;
    display: block;
}

.columns_wrap {
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    list-style-type: none;
}

.columns_wrap span {
    color:rgba(255,255,255,.4);
    position: absolute;
    top: 30px;
    display: block;
    margin: 10px 0px;
}

.contact_label {
    padding-left: 20px;
    margin: 10px 0px;
}

.contact_label > a {
    text-decoration: none;
    color: rgba(255,255,255,.4);
}

.contact_label > a:hover {
    color: #8bafb3;
}

#cart-popover:hover {
    color: #8bafb3;
    cursor: pointer;
}

.icon_right {
    padding: 0px 20px;
    margin: 15px 0px;
}

.contact_label_right {
    padding: 0px 40px;
    margin: 10px 0px;
}

/* header_bottom */
.header_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}

.navbar_fixed {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    top: 0;
}

.nav_links {
    list-style-type: none;
}

.nav_links li {
    display: inline-block;
    padding: 10px 20px 0px;
}

.nav_links li a {
    color: #1d2122;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
    text-decoration: none;
}

.dropdown:hover > .dropdown-menu{
    display: block;
    transition: all 0.3s ease 0s;
    background-color: #8bb4cd;
}

.dropdown:hover > .dropdown-menu > a {
    color: #fff;
}

.dropdown:hover > .dropdown-menu > a:hover {
    color: #8bb4cd;
}

/* slides */
.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}

.owl-theme .owl-nav {
    bottom: 140px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #8bb4cd;
    width: 30px;
    transition: all 0.5s;
}

.owl-theme .owl-dots .owl-dot span {
    background: #8bb4cd;
}

.owl-dots .owl-dot-clone {
    margin-top: 80px;
}

.item {
    height: 700px;
}

#slides_car .owl-carousel {
    position: relative;
}

.item-caption {
    position: absolute;
    color: #fff;
    bottom: 40%;
    left: 26%;
    font-size: 30px;
}

.item-caption span{
    opacity: 0;
    transition: all 0.5s ease;
}

.item-caption span.fade {
    opacity: 1;
}

.caption_bottom {
    text-align: center;
}

/* product-feature */

.empty_space {
    width: 100%;
    height: 84px;
}

.content_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_feature_all{
    height: 300px;
    background-size: cover;
    width: 20%;
    color: #fff;
    text-align: center;
}

.product_feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product_margin {
    margin-left: 30px;
}

.product_feature:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:  rgba(131,172,199,1);
    opacity: 0.4;
    cursor: pointer;
}

/* section_produce */
.section_comp {
    height: 708px;
    background-color: #f5f5f5;
    width: 100%;
    text-align: center;
}
.sc_subtitle {
    font-family: Caveat;
    color: #bf5025;
    font-size: 2.071em;
    font-weight: 400;
}

.sc_image {
    height: 420px;
    background-image: url('../images/bg_welcome.jpg');
    width: 52%;
    right: 8%;
    position: absolute;
    background-size: cover;
}

.section_content {
    margin-top: 50px;
    position: relative;
    height: 420px;
}

.sc_block{
    text-align: left;
    margin-left: 35px;
    padding: 75px 65px;
    position: absolute;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: rgba(131,172,199,0.8);
    color: #fff;
    background-image: url('../images/map_bg.jpg');
    background-size: cover;
}

.sc_title_margin {
    margin-top: 20px;
}

.sc_button > a {
    background-color: #fff;
    font-size: 0.9em;
    color: #83acc7;
}

/* section_intro */
.section_intro_item {
    background-image: url('../images/bg_promo2.jpg');
    height: 535px;
    width: 100%;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}

.section_intro {
    position: absolute;
    bottom: 40%;
    left: 26%;
    font-size: 15px;
}

.sc_intro_button > a{
    background-color: #fff;
    color: #000;
}

.sc_intro_button > a:hover {
    background-color: #bf5025;
    color: #fff;
}

/* section_service */
.section_about {
    text-align: center;
    height: 489px;
}

.sc_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about_feature {
    width: 227px;
    height: 182px;
    position: relative;
}

.about_feature:hover:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:  rgba(131,172,199,1);
    opacity: 0.6;
    cursor: pointer;
}

.about_feature:hover:after {
    content: '\f0c1';
    font-family: 'Font Awesome 5 Free';
    top: 42%;
    left: 47%;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
}

.sc_item_title {
    margin-top: 20px;
    text-align: center;
}

.sc_item_title > a {
    font-size: 20px;
    color: #1c100b;
}

.sc_item_title > a:hover {
    text-decoration: none;
    color: #0088a9;
}


.sc_item_title > p {
    font-size: 14px;
    margin-top: 20px;
    color: #959ca0;
}

.sc_item_all {
    margin-left: 30px;
}

/* section_service */
.section_service {
    height: 565px;
    text-align: center;
}

.service_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sc_service {
    width: 300px;
    height: 160px;
    margin: 0px 30px 30px 0px;
}

.service_feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    position: relative;
    border: 3px solid #f5f5f5; 
}

.service_feature:hover {
    background-color: #fff;
    cursor: pointer;
}

.service_title > h6:hover {
    color: #8bafb3;
    cursor: pointer;
}

.sc_icon {
    margin-left: 20px;
    color: #8bafb3;
}

.sc_icon:hover {
    color: #bf5025;
}

.service_title {
    text-align: left;
    margin: 15px 0px 0px 20px;
}

.sc_desc {
    font-size: 15px;
    color: #959ca0;
}

.service_wrap_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* banner_count */
.banner_count {
    height: 390px;
    background-image: url('../images/bg_counters.jpg');
    position: relative;
}

.banner_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 23%;
    left: 5%;
}

.banner_skill {
    width: 343px;
    height: 200px;
    margin-right: 40px;
}

.space_bar{
    height: 3px;
    width: 53px;
    background-color: #bf5025;;
    margin: 15px auto;
}

.count_all {
    margin: 20px 0px;
    font-size: 50px;
}

/* product_list */
.sc_product {
    text-align: center;
    height: 530px;
}

.post_product1, .post_product2 {
    width: 170px;
    height: 156px;
    position: relative;
}

.product_wrap_one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.post_product1:hover:after, .post_product2:hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:  rgba(131,172,199,1);
    opacity: 0.4;
    cursor: pointer;
}

.product_wrap_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.sc_pro_but {
    margin: 40px 0px 30px 0px;
}

.sc_pro_but > a {
    border: none;
}

.sc_pro_but > a:hover {
    background-color: #83acc7;
}

.sc_but {
    margin: 0 auto;
    font-size: 14px;
    padding: 12px 12px;
}

/* discount_program */

.discount_program {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_discount {
    width: 315px;
    height: 260px;
    background-image: url(../images/banner_1.png);
    margin-right: 30px;
    position: relative;
}

.dis_title {
    text-align: left;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 10%;
}

.dis_desc {
    margin: 15px 0px;
    font-size: 14px;
    width: 65%;
}

.event_discount {
    width: 690px;
    height: 260px;
    background-image: url(../images/banner_2.jpg);
}

.dis_but > a{
    width: 165px;
    height: 45px;
    padding-top: 10px;
    color: #83acc7;
}

.dis_but > a:hover {
    background: #8bb4cd;
    border-color: #fff;
    color: #fff;
}

.event_discount {
    position: relative;
}

.eve_title {
    position: absolute;
    left: 55%;
    top: 13%;
}

.eve_desc {
    margin: 16px 0px;
    font-size: 14px;
    width: 90%;
}

.eve_but > a, .shop_now > a{
    width: 165px;
    height: 45px;
    padding-top: 10px;
    color: #fff;
}

.eve_but > a:hover {
    background: #8bb4cd;
    border-color: #fff;
    color: #fff;
}

/* product_list */
.product_list {
    background-color: #f5f5f5;
    height: 720px;
    text-align: center;
}

.product_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.item_info {
    width: 220px;
    height: 325px;
    margin: 0px 20px;
    position: relative;
}

.overlay {
    position: absolute;
    background-color:  rgba(131,172,199,0.1);
    top: 30%;
    left: 50%;
    opacity: 0;
    transition: 0.3s ease all;
    transform: translate(-50%,-50%);
}

.overlay > a {
    font-size: 14px;
    width: 150px;
    height: 35px;
}

.overlay > a:hover {
    background-color: rgba(131,172,199,0.8);
    border: none;
}

.item_info:hover .overlay {
    opacity: 1;
}

.item_info:hover img {
    opacity: 0.1;
}

.item_info > a img {
    width: 220px;
    height: 210px;
}

.item_sub {
    background-color: #f8f8f8;
    padding: 25px 0px;
}

.item_sub > h3 a {
    color: #303437;
    text-decoration: none;
}

.item_sub > h3 a:hover {
    color: #bf5025;
}

.price {
    font-size: 15px;
    color: #959ca0;
}

.shop_now {
    margin-top: 50px;
}

.shop_now > a:hover {
    background-color: #8bb4cd;
    border: none;
}

/* video_banner */
.video_banner {
    height: 760px;
    text-align: center;
    background-image: url(../images/bg_parallax.jpg);
    color: #fff;
}

.video_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video_run {
    height: 315px;
    background-image: url(../images/bg_video.jpg);
    margin-top: 30px;
    width: 550px;
    position: relative;
}

.vd_sub {
    margin: 30px 0px;
    width: 500px;
    font-size: 14px;
}

.vd_button > a{
    padding: 10px 10px;
    border: none;
}

.vd_button > a:hover {
    background-color: #bf5025;
    color: #fff;
}

.video_run > iframe {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.video_run > div i {
    margin: 17px 14px;
}

#but_run {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #fff;
    width: 70px;
    height: 70px;
}

#but_run:hover {
    border-radius: 50%;
    transition: 0.3s ease;
    background-color: rgba(131,172,199,0.8);
    color: #fff;
    cursor: pointer;
}

/* blog_recent */
.blog_recent {
    height: 650px;
    text-align: center;
}

.blog_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.blog_item {
    width: 315px;
    height: 420px;
    margin-right: 30px;
}

.blog_img > a img {
    height: 182px;
}

.blog_sub {
    margin-top: 20px;
}

.blog_info > span a{
    color: #bf5025;
}

.blog_info > span a:hover {
    color: #8bafb3;
    text-decoration: none;
}

.blog_title {
    margin: 10px 0px;
    font-size: 22px;
}

.blog_title > a {
    color: #000;
}

.blog_title > a:hover {
    color: #8bafb3;
    text-decoration: none;
}

.blog_desc {
    font-size: 14px;
}

.blog_img:hover > a img{
    opacity: 0.6;
}

.blog_img {
    position: relative;
}

.overlay_blog {
    position: absolute;
    background-color:  rgba(131,172,199,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease all;
}

.overlay_blog i {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 41%;
    left: 47%;
}

.blog_img:hover > .overlay_blog {
    opacity: 1;
}

.car_banner {
    height: 215px;
    background-image: url(../images/bg_clients.jpg);
}

/* client_banner */
.car_banner {
    height: 215px;
}

.car_item {
    padding: 0px 25px;
}

.car_item img {
    width: 125px !important;
    height: 95px;
    margin: 30% 20% 0%;
}

/* footer */
footer {
    height: 260px;
    background-color: #2c3941;
    color: #fff;
}

.footer_wrap {
    height: inherit;
}

.footer_content_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer_comp {
    width: 260px;
    height: 100px;
}

.logo_1 {
    margin-top: 30px;
}

.about_desc {
    font-size: 13px;
    margin-top: 20px;
    color: #959ca0;
}

.links_list {
    width: 90%;
    margin-top: 20px;
    list-style-type: none;
    height: 70px;
}

.links_list li {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
}

.links_list li a {
    color: #959ca0;
}

.links_list li a:hover {
    color: #f5f5f5;
    text-decoration: none;
}

.text_widge {
    font-size: 13px;
    margin-top: 20px;
    color: #959ca0;
}

.text_widge > a:hover {
    text-decoration: none;
    color: #bf5025;
    transition: 0.6s ease;
}

.copyright {
    color: #959ca0;
    background-color: #2c3941;
    padding: 0 30% 20px 30%;
    font-size: 12px;
    margin-bottom: -15px;
}